.page_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: white;
  padding: 2rem;
}

.registration_main_container {
  width: 100%;
  max-width: 600px;
  padding: 2rem;
}

.register_top_container {
  margin-bottom: 1.5rem;
  text-align: center;
}

.register_top_container h5 {
  font-size: 1.5rem;
  color: #3584fc;
  font-weight: bold;
}

.form_input_container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.input_field {
  margin: 0;
  width: 100%;
}

.submit_button {
  margin-top: 1.5rem;
  background-color: #4caf50;
  color: white;
  padding: 0.7rem 1.5rem;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: bold;
  transition: background 0.3s ease, transform 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.submit_button:hover {
  background: #388e3c;
  transform: translateY(-3px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.checkbox_container {
  margin-top: 1rem;
  text-align: center;
}

.checkbox_container p {
  font-size: 0.9rem;
  color: #555;
}

@media only screen and (max-width: 600px) {
  .registration_main_container {
    padding: 1rem;
  }
}